body {
  background-color: rgb(251, 250, 247);
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: Tahoma, sans-serif;
  font-size: 1.7em;
  font-weight: normal;
}

a {
  font-size: 1em;
  font-family: tahoma, sans-serif;
  font-weight: lighter;
}
a:link {
  color: brown;
}

a:visited {
  color: brown;
}

a:hover {
  color: darkgoldenrod;
}

.introduction {
  color: dimgrey;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
}
