body {
  background-color: rgb(251, 250, 247);
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.7em;
  font-weight: bold;
}

a {
  font-size: 1em;
  font-family: tahoma, sans-serif;
  font-weight: lighter;
}
a:link {
  color: brown;
}

a:visited {
  color: brown;
}

a:hover {
  color: darkgoldenrod;
}

.introduction {
  color: dimgrey;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  background-color: brown;
  border-radius: 7px;
}

.back-button:hover {
  background-color: darkgoldenrod;
}

.nav_ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.nav_li {
  float: left;
  border-right: 1px solid rgb(251, 250, 247);
}

.nav_li:last-child {
  border-right: none;
}

.nav_a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
}

.nav_ul .nav_li .nav_a:hover,
.nav_ul .nav_li .nav_a:focus {
  background-color: darkgoldenrod;
  color: rgb(251, 250, 247);
}

.nav_a:link,
.nav_a:visited {
  background-color: brown;
  color: rgb(251, 250, 247);
}

.nav_a.active{
  background-color: #CD853F;
  color: rgb(251, 250, 247);
}
