body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.polaroid {
    background-color: rgba(255, 255, 255, 0.8);
}
.polaroid p {
  font-family: "Moon Dance", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: large;
  text-align: center;
  color:darkslategray;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 50px 50px 50px 50px;
  column-gap: 50px;
  row-gap: 50px;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px 20px 20px 20px;
}
